html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 32px;
  width: 100%;
}

.header {
  align-self: center;
  color: white;
}

.carousel-container {
  align-items: center;
  display: flex;
  height: 200px;
  margin-bottom: 16px;
  max-width: 840px;
  width: 100%;
}

.button {
  padding: 8px;
  font-size: 18px;
}

.index {
  color: white;
  font-size: 24px;
}
